@import url(../App.css);

.section--logitem-comment {
	line-height: 1em;
}

.span--comment-togglebutton {
	font-size: var(--sub-font-size);
	color: var(--sub-text-color);
	cursor: pointer;
	transition: 0.3s ease;
}

.span--comment-togglebutton:hover {
	color: var(--normal-text-color);
	text-shadow: 0px 0px 3px var(--shadow-color);
}

.div--comment-thread {
	margin-bottom: 1em;
}

.div--comment-item {
	padding-top: 0.5em;
}

.div--comment-reply {
	text-align: right;
}

.div--comment-name {
	width: 5em;
	font-weight: bold;
	font-size: var(--sub-font-size);

	float: left;
	padding-right: 1em;
}

.div--comment-contents {
	font-size: var(--sub-font-size);
	display: inline-block;
}

.div--comment-message {
	display: inline-block;
	max-width: calc(100% - 25px);
	border-radius: 10px;
}
.div--comment-message p {
	display: inline-block;
	margin: 10px;
}
.div--comment-hidden {
	max-width: 100%;
	color: var(--sub-text-color);
	font-style: italic;
}

.div--comment-adminhidden {
	max-width: calc(100% - 25px);
}

.div--comment-visitor {
	background-color: rgb(217, 231, 241);
}

.div--comment-admin {
	background-color: rgb(241, 221, 221);
}

.div--comment-reply .div--comment-message {
	max-width: 100%;
}

.div--comment-replybutton {
	display: block;
	float: right;
	cursor: pointer;
	padding: 12px 0px 5px 5px;
	width: 20px;
	color: var(--sub-text-color);
	transition: 0.3s ease;
}

.div--comment-replybutton:hover {
	color: var(--normal-text-color);
	text-shadow: 0px 0px 3px var(--shadow-color);
}

.div--comment-timestamp {
	padding: 5px;
	font-size: var(--info-font-size);
	color: var(--sub-text-color);
}

.div--comment-form {
	overflow: auto;
}

.div--comment-input {
	float: left;
	width: calc(100% - 4em + 6px);
}

.textarea--comment-form {
	display: block;
	float: left;
	width: calc(100% - 6px);
	height: 20px;
	margin-bottom: 10px;
	font-size: var(--sub-font-size);
	border-width: 0 0 1px 0;
	border-color: var(--normal-border-color);
	overflow: hidden;
	resize: none;
}

.textarea--comment-reply {
	text-align: right;
}

.input--comment-name {
	font-family: 'Jeju Myeongjo', Helvetica;
	display: block;
	float: left;
	border-width: 0 0 1px 0;
	border-color: var(--normal-border-color);
}

.input--comment-name:disabled {
	color: var(--sub-text-color);
	background-color: #dddddd;
}

.button--comment-submit {
	display: block;
	float: left;
	width: 45px;
	height: 45px;
	font-size: var(--sub-font-size);
}

.label--comment-hidden {
	color: var(--sub-text-color);
	font-size: var(--sub-font-size);
}

.div--comment-replyPosting {
	height: 56px;
	width: 100%;
	text-align: center;
}