@import url(../App.css);

.span--comment-togglebutton {
	font-size: var(--sub-font-size);
	color: var(--sub-text-color);
	cursor: pointer;
	transition: 0.3s ease;
}

.span--comment-togglebutton:hover {
	color: var(--normal-text-color);
	text-shadow: 0px 0px 3px var(--shadow-color);
}

.div--comment-thread {
	margin-bottom: 1em;
}

.div--comment-visitor {
	display: block;
	padding-top: 1em;
}

.div--comment-admin {
	display: block;
	padding-top: 1em;
}

.div--comment-reply {
	text-align: right;
}

.div--comment-name {
	width: 5em;
	font-weight: bold;
	font-size: var(--sub-font-size);

	float: left;
	padding-right: 1em;
}

.div--comment-contents {
	font-size: var(--sub-font-size);
	display: inline-block;
}

.div--comment-message {
	display: inline-block;
	padding: 10px;
	border-radius: 10px;
}

.div--comment-visitor .div--comment-message {
	background-color: rgb(217, 231, 241);
}

.div--comment-admin .div--comment-message {
	background-color: rgb(241, 221, 221);
}

.div--comment-timestamp {
	padding: 5px;
	font-size: var(--info-font-size);
	color: var(--sub-text-color);
}

.div--comment-writer {
	overflow: auto;
}

.div--comment-input {
	float: left;
	width: 80%;
}

.textarea--comment-writer {
	display: block;
	float: left;
	width: calc(100% - 6px);
	height: 30px;
	font-size: var(--sub-font-size);
	border-width: 1px;
	border-color: var(--normal-border-color);
	overflow: hidden;
	resize: none;
}

.input--comment-name {
	font-family: 'Jeju Myeongjo', Helvetica;
	display: block;
	float: left;
}

.button--comment-submit {
	display: block;
	float: left;
	width: 20%;
	padding: 2px;
	height: 56px;
	font-size: var(--sub-font-size);
}