.span--kotlin-annotation {
	color:rgb(255, 80, 255);
}

.span--kotlin-reserved {
	color: rgb(236, 134, 0);
}

.span--kotlin-literal {
  color: rgb(0, 151, 75);
}

.span--yml-comment {
	color:rgb(0, 151, 75);
}

.span--yml-key {
	color: rgb(236, 134, 0);
}
