@import url(../App.css);

.div--toaster-information {
  color: var(--normal-text-color);
  background-color: var(--normal-background-color);
  font-weight: bold;
  opacity: 0.8;

  z-index: 10000;
}

.div--toaster-success {
  color: var(--success-text-color);
  background-color: var(--success-background-color);
  font-weight: bold;
  opacity: 1;

  z-index: 10000;
}

.div--toaster-warning {
  color: var(--warning-text-color);
  background-color: var(--warning-background-color);
  font-weight: bold;
  opacity: 1;

  z-index: 10000;
}

.div--toaster-error {
  color: var(--error-text-color);
  background-color: var(--error-background-color);
  font-weight: bold;
  opacity: 1;

  z-index: 10000;
}

.div--toaster-center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  line-height: 1em;

  box-shadow: 5px 5px 10px var(--shadow-color);

  padding: 1em 1em;
  border-radius: 10px;
}

.div--toaster-bottom {
  position: fixed;
  left: 0;
  bottom: calc(1em - 5px);
  height: 1em;
  width: 100%;
  overflow: hidden;
  line-height: 1em;

  box-shadow: -20px 0px 20px var(--shadow-color);

  padding: 1em 1em;
}

.div--toaster-fadeout {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.div--toaster-hide {
  display: none;
  visibility: hidden;
}