@import url(../App.css);

.div--files-loading {
  width: 100%;
  height: 10em;
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}

.div--filedrop-filename {
  color: var(--normal-text-color);
  font-weight: normal;
  margin-top: 1em;
}

.div--filedrop-dropzone {
  text-align: center;
  font-weight: bold;
  padding-top: 4em;
  padding-bottom: 4em;
  border-width: 3px;
  width :100%;
}

.div--filedrop-ready {
  color: var(--normal-text-color);
  background-color: var(--normal-background-color);
  border-style: dashed;
}

.div--filedrop-dragenter {
  color: var(--warning-text-color);
  background-color: var(--warning-background-color);
  border-style: solid;
}

.div--filedrop-uploading {
  color: var(--error-text-color);
  background-color: var(--error-background-color);
  border-style: solid;
}

.div--filedrop-complete {
  color: var(--success-text-color);
  background-color: var(--success-background-color);
  border-style: solid;
}

.div--fileupload-input {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}

.div--files-list {
  margin-top: 1em;
  margin-bottom: 1em;
}

.div--fileitem {
  background-color: var(--normal-background-color);
}

.div--fileitem-filename {
  text-decoration: underline; 
  cursor: pointer;
  word-wrap: break-word;
  max-width: 100%;
  line-height: 1em;
}

.div--fileitem-statusbar {
  font-size: var(--sub-font-size);
  color: #666666;
}

.span--fileitem-modifieddate {
  margin-right: 1em;
}

.span--fileitem-modifiedtime {
  margin-right: 1em;
}

.span--fileitem-toolbar {
  float:right;
  padding: 0;
  margin: 0;
}

.span--fileitem-separator {
  color: var(--sub-text-color);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.span--fileitem-delete {
  cursor: pointer;
  transition: 0.3s ease;
}

.span--fileitem-delete:hover {
  color: var(--normal-text-color);
  text-shadow: 0px 0px 3px var(--shadow-color);
}

.span--fileitem-copyurl {
  cursor: pointer;
}

.div--fileitem-delete {
  color: var(--normal-background-color);
  background-color: var(--normal-background-color);
  transition: color 0.5s ease;
}

.span--fileitem-size {
  height: 1em;
  margin-right: 1em;
}

@media screen and (max-width: 360px) {
  .span--fileitem-size {
    display: none;
  }
}

.button--file-seemore {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  display: block;
  border-radius: 1.5em;
  height: 3em;
  cursor: pointer;
}