@import url(../App.css);

.button--log-newlog {
  font-size: 1em;
  font-weight: bold;

  position: fixed;
  bottom: 4.5em;
  left: calc(100% - 4em);

  width: 3em;
  height: 3em;
  color: var(--normal-text-color);
  background-color: var(--normal-background-color);
  border-radius: 1.5em;
  z-index: 1;
}

.h1--logitem-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  color: var(--normal-text-color);
}

.section--logitem-info {
  display: block;
  font-size: var(--sub-font-size);
  color: var(--sub-text-color);
}

.div--logitem-toolbar {
  float: right;
  padding: 0;
  margin: 0;
}

.span--logitem-toolbarblank {
  padding-left: 0.5em;
}

.span--logitem-toolbarmenu {
  color: var(--sub-text-color);
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.span--logitem-toolbarmenu:hover {
  color: var(--normal-text-color);
  text-shadow: 0px 0px 3px var(--shadow-color);
}

.span--logitem-toolbaricon {
  display: inline-block;
  cursor: pointer;
}

.a--logitem-loglink {
  font-size: 0.8rem;
}

@media screen and (max-width: 640px) {
  .a--logitem-loglink {
    display: none;
  }
}

.span--logitem-toolbaricon path {
  fill: #999999;
}

.span--logitem-toolbaricon:hover path {
  fill: black;
}

.span--logitem-version {
  cursor: pointer;
}

.span--logitem-separator {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.div--logitem-linkmessage {
  position: absolute;
  margin-left: 10.5em;
  margin-top: 2.5em;
  padding: 0.5em 0.8em;
  border-radius: 8px;
  line-height: 1em;

  background-color: var(--info-background-color);

  font-size: var(--info-font-size);
}

.div--logitem-versionhistory {
  position: absolute;
  right: 1.5em;
  
  background-color: var(--normal-border-color);
  font-size: var(--sub-font-size);
  line-height: 1.5em;
}

.span--logitem-historyverision {
  color: var(--sub-text-color);
  font-size: var(--info-font-size);
}

.article--logitem-delete {
  color: var(--normal-contents-background-color);
  transition: color 0.5s ease;
}

.section--logitem-contents {
  word-wrap: break-word;
}

.section--logitem-contents a {
  text-decoration: underline;
}

.section--logitem-contents img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

.section--logitem-contents h1 {
  font-size: 1.5rem;
}

.section--logitem-contents h2 {
  font-size: 1.3rem;
}

.section--logitem-contents h3 {
  font-size: 1.1rem;
}

.section--logitem-contents h4 {
  font-size: 1.0rem;
}

.section--logitem-contents h5 {
  font-size: 0.9rem;
}

.section--logitem-contents h6 {
  font-size: 0.8rem;
}

.button--loglist-seemore {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  display: block;
  border-radius: 1.5em;
  height: 3em;
  cursor: pointer;
}

.div--writer-editbox {
  overflow: auto;
  border-width: 1px 0;
  border-style: solid;
  margin-bottom: 1em;
	border-color: var(--normal-border-color);
}

.textarea--writer-article {
	font-size: 1em;
	line-height: 2em;
	box-sizing: border-box;
	width: calc(50%);
	height: auto;
	margin: 0 0 0 0;
	padding: 26px 5px 10px 5px;
	overflow: hidden;
  border: 0;
	resize: none;
}
  
.div--writer-converted {
	font-size: 1em;
	width: calc(50% - 12px);
	line-height: 2em;
	float: right;
	margin: 0 0 0 0;
	padding: 10px 5px 10px 6px;
	word-wrap: break-word;
	vertical-align: top;
	background-color: var(--normal-contents-background-color);
  border-style: solid;
	border-width: 0 0 0 1px;
	border-color: var(--normal-border-color);
}

.div--writer-converted a {
	text-decoration: underline;
}
  
.div--writer-converted img {
	width: 100%;
	object-fit: scale-down;
}
  
.div--writer-statusbar {
	width: 100%;
	font-size: 0.8em;
	padding: 10px 0;
}
  
.span--writer-statusbaritem {
	padding-left: 1em;
}
  
.span--writer-statusbaritemright {
	float: right;
  padding-right: 1em;
}
  
.span--writer-statusbarbutton {
	cursor: pointer;
	float: right;
	padding-right: 1em;
  transition: 0.3s ease;
}

.span--writer-statusbarbutton:hover {
  color: var(--normal-text-color);
  text-shadow: 0px 0px 3px var(--shadow-color);
}
  
.div--writer-history {
	max-width: 800px;
  margin: 0 auto;
}
  
.h1--writer-historytitle {
	max-width: 100%;
	text-align: center;
	vertical-align: middle;
}
  
.button--writer-submit {
  margin-top: 1em;
	height: 3em;
	margin-bottom: 1em;
}

.button--writer-img {
  width: 5em;
  margin-left: 1em;
}

.button--writer-a {
  width: 5em;
  margin-left: 1em;
}