body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.div--main-contents {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family:'Times New Roman', Times, serif;
}

.div--nav-bar{
  background: #ffffff;
  width: 100%;
  margin-bottom: 1rem;
}

.div--nav-tabs {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.ul--nav-tabs li{
  font-size: 1rem;
  display: inline-block;
  color: #000000;
  padding: 2rem 1rem 1rem 1rem;
  cursor: pointer;
}

.ul--nav-tabs a {
  color: #000000;
  text-decoration: none;
}

.ul--nav-tabs li.active{
  height: 100%;
  border-bottom: 1px solid;
}

li.li--nav-title {
  margin-right: 2rem;
}

li.li--nav-user  {
  font-size: 0.5em;
  font-weight: normal;
}

.li--nav-right {
  float:right;
}

.textarea--article-normal {
  font-size: 0.9em;
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  height: 30em;
  resize: vertical;
  border-color: lightgrey;
}

.button--submit-normal {
  width: 100%;
  height: 2em;
  border: none;
  background-color:#eeeeee;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.div--article-logitem {
  font-size: 0.9em;
  margin-top: 3em;
  border-color: lightgrey;
}

.p--article-info {
  font-size: 1em;
}

.p--article-toolbar {
  padding: 0;
  margin: 0;
}

.span--article-toolbar {
  font-size: 0.9em;
  color: grey;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.span--article-separator {
  color: lightgrey;
  padding-left: 1em;
  padding-right: 1em;
}

.div--article-delete {
  color: white;
  transition: color 0.5s ease;
}