@font-face {
  font-family: 'Jeju Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot);
  src: url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/jejumyeongjo/v3/JejuMyeongjo-Regular.ttf) format('truetype');
  font-display: swap;
}

:root {
  --sub-font-size: 0.9em;
  --info-font-size: 0.8em;

  --normal-text-color: black;
  --normal-background-color: white;
  --normal-contents-background-color: white;
  --normal-border-color: #dddddd;

  --hover-border-color: #666666;

  --active-text-color: black;
  --active-background-color: white;
  --active-border-color: #666666;

  --inactive-text-color: #666666;

  --sub-text-color: #666666;
  
  --shadow-color: #aaaaaa;

  --success-text-color: black;
  --success-background-color: rgb(149, 225, 211);

  --warning-text-color: black;
  --warning-background-color: rgb(248, 178, 134);

  --error-text-color: black;
  --error-background-color: rgb(243, 129, 129);
}

div#root {
  max-width: 800px;
}

div#root.fullscreen {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 1.8em;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jeju Myeongjo', Helvetica;
  background-color: var(--normal-background-color);
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding-inline-start: 1.5em;
}

ol {
  padding-inline-start: 1.5em;
}

div#root {
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  background-color: var(--normal-contents-background-color);
  font-style: italic;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-inline-start: 0.5em;
  margin-inline-end: 0.5em;
}

blockquote:before {
  content: "\201C";
  font-size: 3em;
  font-family: Georgia;
  color: var(--sub-text-color);
  float: left;
  margin: -5px 10px 0px -10px;
}

code {
  border-radius: 3px;
  color: darkorange;
}

pre {
  background-color: #eeeeee;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.p {
  line-height: 2em;
}

.article {
  line-height: 2em;
}

.li {
  display: inline-block;
  cursor: pointer;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.button {
  font-family: 'Jeju Myeongjo', Helvetica;
  width: 100%;
  color: var(--normal-text-color);
  border: 1px;
  border-style: solid;
  border-color: var(--normal-border-color);
  background-color: var(--normal-contents-background-color);
  font-size: 1em;
  transition: 0.3s ease;
}

.button:hover {
  border-color: var(--hover-border-color);
  background-color: rgb(255, 255, 210);
  transition: 0.3s ease;
}

.button:active {
  color: var(--active-text-color);
  border-color: var(--active-border-color);
  background-color: var(--active-background-color);
}

.nav--nav-bar {
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.ul--nav-tabs {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ul--nav-tabs a {
  text-decoration: none;
}

.li--nav-title {
  padding-left: 0;
  margin-right: 1em;
}

.li--nav-active {
  color: var(--active-text-color);
  background-color: var(--active-background-color);
  border-color: var(--normal-border-color);
  border-style: solid;
  border-width: 0 0 1px 0;
}

.li--nav-inactive a {
  color: var(--inactive-text-color);
  transition: 0.3s ease;
}

.li--nav-inactive:hover a {
  color: var(--normal-text-color);
  text-shadow: 0px 0px 3px var(--shadow-color);
}

.li--nav-user  {
  color: var(--active-text-color);
  background-color: var(--active-background-color);
  float: right;
  border-color: var(--normal-border-color);
}

.li--nav-user:hover {
  border-style: solid;
  border-width: 0 0 1px 0;
}

.li--nav-user:active {
  border-style: solid;
  border-width: 0 0 1px 0;
}

.main--contents {
  margin-left: 0em;
  margin-right: 0em;
}

.article--main-item {
  padding: 1em 1em 2em 1em;
  margin-bottom: 2em;
  background-color: var(--normal-contents-background-color);
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--normal-border-color);
}

.textarea {
  font-family: 'Jeju Myeongjo', Helvetica;
  width: 100%;

  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.footer {
  font-size: var(--sub-font-size);
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 3em;
}

.span--footer-left {
  float:left;
}

.span--footer-right {
  float:right;
  padding-left: 0.5em;
}

.h1--error-notfound {
  margin: 0;
  padding-top: 5rem;
  text-align: center;
}