body {
  margin: 0;
  padding: 0;
}

.div--main-contents {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family:'Times New Roman', Times, serif;
}

.div--nav-bar{
  background: #ffffff;
  width: 100%;
  margin-bottom: 1rem;
}

.div--nav-tabs {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.ul--nav-tabs li{
  font-size: 1rem;
  display: inline-block;
  color: #000000;
  padding: 1rem;
  cursor: pointer;
}

.ul--nav-tabs a {
  color: #000000;
  text-decoration: none;
}

.ul--nav-tabs li.active{
  height: 100%;
  border-bottom: 1px solid;
}

li.li--nav-title {
  margin-right: 2rem;
}

li.li--nav-user  {
  font-size: 0.5em;
  font-weight: normal;
}

.textarea--article-normal {
  width: 100%;
  height: 10em;
  resize: none;
}

.button--submit-normal {
  width: 100%;
  height: 2em;
}

.div--article-logitem {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-width: 0 0 1px 0 ;
  border-style: dashed;
  border-color: lightgrey;
}

.p--article-info {
  font-size: 0.9em;
}

.p--article-toolbar {
  padding: 0;
  margin: 0;
}

.span--article-toolbar {
  font-size: 0.5em;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.span--article-separator {
  font-size: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}