@import url(../App.css);

.article--monitor-item {
	box-sizing: border-box;
	float: left;
	width: 50%;
	min-height: 485px;
	margin: 0;
	padding-bottom: 1em;
}

@media screen and (max-width: 800px) {
	.article--monitor-item {
		float: none;
		width: 100%;
		min-height: 0px;
	}
}

.article--monitor-item h1, h2, h3, h4, h5, h6 {
	margin-block-start: 0;
	margin-block-end: 0;
}

.section--monitor-item {
	margin-bottom: 0.5em;
}

.span--monitor-metric {
	font-size: var(--info-font-size);
	margin: 0 1em;
}

.div--monitor-statusbar {
	font-size: 0.8em;
}

.span--monitor-bar {
	display: inline-block;
	text-align: center;
}

.span--monitor-assessment {
	float: right;
	line-height: 1em;
	margin-top: 0.8em;
	font-size: var(--info-font-size);
}

.span--monitor-good {
	color: var(--success-text-color);
	background-color: var(--success-background-color);
}

.span--monitor-warn {
	color: var(--warning-text-color);
	background-color: var(--warning-background-color);
}

.span--monitor-poor {
	color: var(--error-text-color);
	background-color: var(--error-background-color);
}

.span--monitor-none {
	background-color: var(--normal-background-color);
}

.div--monitor-pillarchart {
	line-height: 1em;
	min-height: 100px;
}

.div--monitor-stackchart {
	min-height: 175px;
}

.div--monitor-7pillars {
	font-size: 0.8em;
	display: inline-block;
	width: 14%;
	text-align: center;
}

.div--monitor-3pillars {
	font-size: 0.8em;
	display: inline-block;
	width: 33%;
	text-align: center;
}

.div--monitor-6pillars {
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	display: inline-block;
	width: 16%;
	text-align: center;
}

.div--monitor-blank {
	width: 100%;
}

.div--monitor-value {
	width: 100%;
	line-height: 10px;
}

.div--monitor-pillar {
	margin: 0 10%;
}

.div--monitor-stackvalue {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.div--monitor-pillarlegend {
	margin: 4px 5px 0 5px;
	line-height: 10px;	
}

.div--monitor-loading {
	text-align: center;
	width: 100%;
	height: 100%;
	padding-top: 40px;
}

.a--monitor-referencelink {
	font-size: var(--info-font-size);
	display: inline-block;
	line-height: 1em;
}